
<ion-header>
<ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Usuario
    </ion-title>
    <ion-buttons start>
    <button ion-button icon-only (click)="logout()"><ion-icon name="power"></ion-icon></button>
  </ion-buttons>
  </ion-navbar>
  

</ion-header>


<ion-content>
	<div class="login_box">
	    <div style="background-color: #d14836;"class="col-md-12 col-lg-12" align="center">
            <div class="outter"><img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="image-circle"/></div>   
	    </div>
        <div class="col-md-6 col-lg-6" align="center">
            <div class="col-md-12 col-lg-12 login_control">
                <p *ngFor="let u of usuario">Usted tiene {{u.registros}} registros</p>
                <label for="nombre">Nombre</label>
                <p id="nombre" *ngFor="let u of usuario">{{u.nombre}}</p>
                <p *ngFor="let u of usuario">{{u.nombre}}</p>
                <p *ngFor="let u of usuario">{{u.nombre}}</p>
                <p *ngFor="let u of usuario">{{u.nombre}}</p>
                <p *ngFor="let u of usuario">{{u.nombre}}</p>
            </div>    
        </div>
    </div>

</ion-content>
