page-menu {
  .centrado{
    max-width: 960px;
  }

  .cardMenu{
    background: #eee;
    border-radius: 5px;
    text-align: center;
  }

  .cardMenu .icon{
    color:#4d9ee1;
    font-size: 4em;
  }

  //c28a63 c56c6c 9575aa 04c4a5

  .cardMenu {
    color:#886e6e;
    font-weight: bold;

  }
}