extends layout

block content
  form(method='POST')
    legend Restablecer Contrasenia
    .form-group
      label(for='password') Nueva Contrasenia
      input.form-control(type='password', name='password', value='', placeholder='Nueva Contrasenia', autofocus=true)
    .form-group
      label(for='password_confirm') Repetir Contrasenia
      input.form-control(type='password', name='password_confirm', value='', placeholder='Repetir Contrasenia')
    .form-group
      button.btn.btn-primary(type='submit') Actualizar Contrasenia