//fix ios device 
.col{
    flex: 1 0 100%;
  }
  
  
  .contenedor{
      max-width: 980px;
      display: block;
      position: relative;
      margin: 0 auto;
  }
  @media (min-width: 992px) { 
    ion-menu {
        max-width: 350px!important;
    }
  }
  
  .scroll-content {
      height: auto !important;
  }
  
   .padding{
          padding: 15px;
      }