<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Registro N° {{idRegistro}}
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="registro">
    <ion-grid class="contenedor">
      <ion-row>
        <ion-col col-12 style="padding:0px" class="center">
          <div class="fotoPaisaje" (click)="presentImage(fotoPaisajeURL)" [ngStyle]="{'background-image': 'url(' + fotoPaisajeURL + ')'}">
            <!-- *ngIf="rol == 'administrador' && registro.usuario !== null "  -->
            <div class="titulo">
              <h1>Creado por
                <a style="margin-left: 0px;margin-right: 0px; text-decoration: underline;" (click)="verUsuario(registro.idUsuario)">{{registro.usuario}}</a>
                <span>{{registro.fecha | date:'dd/MM/yy'}}</span>
              </h1>
            </div>
          </div>
          <div padding>
            <ion-row>
              <ion-col col-12>
                <h2>Observaciones</h2>
                <p *ngIf="registro.observacion == '' || registro.observacion == null">El usuario no hizo observaciones</p>
                <p *ngIf="registro.observacion !== '' || registro.observacion !== null">{{registro.observacion}}</p>
              </ion-col>
            </ion-row>

            <ion-row class="cardAcostada">
              <ion-col col-12 col-md-4 (click)="presentImage(fotoMapaURL)" [ngStyle]="{'background-image': 'url(' + fotoMapaURL + ')'}"></ion-col>
              <ion-col col-12 col-md-8>
                <div>
                  <ion-icon name="map" item-left large></ion-icon>
                  <h2>Ubicacion</h2>
                  <p>{{registro.ciudad}}, {{registro.provincia}}, {{registro.pais}}</p>
                  <ion-icon name="pin" item-left large></ion-icon>
                  <h2>Coordenadas</h2>
                  <p>Latitud: {{registro.latitud}}</p>
                  <p>Longitud: {{registro.longitud}}</p>
                </div>
              </ion-col>
            </ion-row>

            <ion-row class="cardAcostada">
              <ion-col col-12 col-md-4 push-md-8 (click)="presentImage(fotoMuestraURL)" [ngStyle]="{'background-image': 'url(' + fotoMuestraURL + ')'}"></ion-col>
              <ion-col col-12 col-md-8 pull-md-4>
                <div>
                  <ion-icon name="clipboard" item-left large></ion-icon>
                  <h2>Indice</h2>
                  <p>{{registro.indice}}</p>
                  <ion-icon name="bug" item-left large></ion-icon>
                  <h2>Insectos encontrados:</h2>
                  <div class="tabla">
                    <table>
                      <thead>
                        <tr>
                          <th scope="col">Elmido</th>
                          <th scope="col">Patudo</th>
                          <th scope="col">Plecoptero</th>
                          <th scope="col">Tricoptero</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td data-label="">{{registro.elmido}}</td>
                          <td data-label="">{{registro.patudo}}</td>
                          <td data-label="">{{registro.plecoptero}}</td>
                          <td data-label="">{{registro.tricoptero}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </div>

          <!-- <ion-row>
            <ion-col col-12 col-sm-5 col-md-4>
              <ion-card class="contenedorImg">
                <img style="max-height: 250px;" imageViewer [src]="fotoMapaURLSafe">
                <ion-item>
                  <ion-icon name="map" item-left large></ion-icon>
                  <h2>Ubicacion</h2>
                  <p>{{registro.ciudad}}, {{registro.provincia}}, {{registro.pais}}</p>
                </ion-item>
                <ion-item>
                  <ion-icon name="pin" item-left large></ion-icon>
                  <h2>Coordenadas</h2>
                  <p>Latitud: {{registro.latitud}}</p>
                  <p>Longitud: {{registro.longitud}}</p>
                </ion-item>
              </ion-card>
            </ion-col>
            <ion-col col-12 col-sm-5 col-md-4>
              <ion-card class="contenedorImg">
                <img style="max-height: 250px;" imageViewer [src]="fotoMuestraURLSafe">
                <ion-item>
                  <ion-icon name="clipboard" item-left large></ion-icon>
                  <h2>Indice</h2>
                  <p>{{registro.indice}}
                    <p>
                </ion-item>
                <ion-item>
                  <ion-icon name="bug" item-left large></ion-icon>
                  <h2>Insectos encontrados:</h2>
                  <table class="bordered">
                    <thead>
                      <tr>
                        <th scope="col">Elmido</th>
                        <th scope="col">Patudo</th>
                        <th scope="col">Plecoptero</th>
                        <th scope="col">Tricoptero</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td data-label="">{{registro.elmido}}</td>
                        <td data-label="">{{registro.patudo}}</td>
                        <td data-label="">{{registro.plecoptero}}</td>
                        <td data-label="">{{registro.tricoptero}}</td>
                      </tr>
                    </tbody>
                  </table>
                </ion-item>
              </ion-card>
            </ion-col>
            <ion-col col-12 col-sm-5 col-md-4>
              <ion-card class="contenedorImg">
                <ion-card-content>
                  <h2 *ngIf="registro.idRegistro !== null">Registro Nº</h2>
                  <p style="margin-left: 10px;">{{registro.idRegistro}}</p>
                  <h2 *ngIf="registro.valido !== null">Estado del registro</h2>
                  <p style="margin-left: 10px;">{{valido}}</p>
                  <h2>Observaciones</h2>
                  <p *ngIf="registro.observacion == '' || registro.observacion == null" style="margin-left: 10px;">El usuario no hizo observaciones</p>
                  <p *ngIf="registro.observacion !== '' || registro.observacion !== null" style="margin-left: 10px;">{{registro.observacion}}</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>




  <!-- <div class="contenedor">
            
        </div>
    <ion-fab #fab auto-close-on-click-outside bottom right *ngIf="registro && registro.valido !== null ">
        <button class="botonValidar" ion-fab>Cambiar estado</button>
        <ion-fab-list side="top">
            <div *ngIf="rol == 'administrador' && registro.valido == 0">
                <button class="botonValidar" ion-fab (click)="mensajeConfirmar(registro.idRegistro,'validar',fab)">Validar</button>
                <button class="botonValidar" ion-fab (click)="mensajeConfirmar(registro.idRegistro,'invalidar',fab)">Invalidar</button>
            </div>


            <div *ngIf="rol == 'administrador' && registro.valido == 1">
                <button class="botonValidar" ion-fab (click)="mensajeConfirmar(registro.idRegistro,'invalidar',fab)">Invalidar</button>
            </div>
            <div *ngIf="rol == 'administrador' && registro.valido == -1">
                <button class="botonValidar" ion-fab (click)="mensajeConfirmar(registro.idRegistro,'validar',fab)">Validar</button>
            </div>
        </ion-fab-list>
    </ion-fab> -->
</ion-content>