page-registro {
    ion-content {
        background-color: #f1f1f4 !important;
    }
    
    ion-thumbnail {
        margin: 0px !important;
    }

    ion-thumbnail img{
        height: auto !important;
        width: 400px !important;
    }

    // .item {
    //     padding: 0 !important;
    // }

    .list{
        width: 97% !important;
        margin: 15px auto !important;
        box-shadow: 0 9px 6px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.23)
    }
    .grid{
        padding: 0px !important;
    }

    h2, p {
        color: #899194;
    }
    .center {
        margin: 0 auto;
    }
    .contenedorImg {
        position: relative;
        overflow: auto;
        background-color: white;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }
    .contenedorTab {
        margin: 40px auto;
        max-width: 600px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }
    .tabla th {
        padding: 5px 5px 5px 10px;
        border-radius: 0px;
        background-color: #2C3E50;
        color: white;
    }
    .tabla td {
        padding: 5px;
        border-radius: 0px; // background-color: #ECF0F1;
        background-color: white;
        color: black;
        text-align: center;
    }
    .tabla {
        overflow: auto;
        display: block;
    }
    .fotoPaisaje {
        //box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
        width: 100% !important;
        height: 250px !important;
        background-position: center;
        background-size: 100% 150%;
        position: relative;
        border: none;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to top,black,transparent,transparent);
            opacity: .7; 
          }
    }
    .titulo {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .titulo h1{
        position: relative;
        font-size: 1.4em;
        color: white;
        left: 6px;
    }

    .titulo span{
        float:right;
        margin-right: 3%;
    }

    .titulo a{
        color: white;
    }

    th {
        font-size: 14px;
        font-weight: normal;
    }
    td {
        font-size: 14px;
        font-weight: normal;
    }
    .botonValidar {
        width: 100px;
        border-radius: 15%;
        font-size: 15px;
    }
    @media only screen and (max-width: 1000px) {
        .fotoPaisaje {
            background-size: 100% 180%;
        }
    }
    @media only screen and (max-width: 700px) {
        .fotoPaisaje {
            background-size: 100% 250%;
        }
    }
    @media only screen and (max-width: 500px) {
        .fotoPaisaje {
            background-size: 100% 100%;
        }
    }
}