ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}

page-mapasnativo {
    #map {
    height: 100%;
    border-radius: 10px;
    }

    ion-content{
        background-color: transparent !important;
    }
}

