<!-- <ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Mis Registros
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <ion-row>
    <div class="titulo">
      <h2>Registros</h2>
    </div>
  </ion-row>
  <ion-list *ngIf="registros" [@listAnimation]="registros.length">
    <ion-list-header>
      <ion-icon name="folder" item-left large></ion-icon> Local
    </ion-list-header>
    <ion-item *ngFor="let reg of registros">
      <ion-thumbnail item-start>
        <img [src]="'data:image/png;base64,'+reg.fotoPaisaje">
      </ion-thumbnail>
      <h2>
        <ion-icon name="locate" item-left large></ion-icon> {{reg.latitud}}</h2>
      <h2 style="margin-left: 28px;">{{reg.longitud}}</h2>
      <p>
        <ion-icon name="ios-bug" item-left large></ion-icon> {{reg.indice}}
        <ion-icon name="calendar" item-left large></ion-icon> {{reg.fecha | date:'dd/MM/yy'}}
      </p>
      <button ion-button clear item-end (click)="borrarRegistro(reg.idRegistro)">Ver</button>
    </ion-item>
  </ion-list>

  <div *ngIf="registrosOnline" [@listAnimation]="registrosOnline.length">
    <div class="header">
      <ion-icon name="globe" item-left large></ion-icon>
      <span>Online</span>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm-6 col-md-4 *ngFor="let reg of registrosOnline">
          <ion-card >
            <ion-grid>
              <ion-row class="primeraFila">
                <ion-col col-2>
                  <span style="background: #fa8c02;float: right;">
                    <ion-icon name="locate" item-left large></ion-icon>
                  </span>
                </ion-col>
                <ion-col col-10>
                  <p class="ajustarTexto">{{reg.ciudad}}, {{reg.provincia}} {{reg.pais}}</p>
                </ion-col>
              </ion-row>
              <ion-row class="segundaFila">
                <ion-col col-6>
                  <div>
                    <span style="background: #8d6e63">
                      <ion-icon name="calendar" item-left large></ion-icon>
                    </span>
                    <p>{{reg.fecha | date:'dd/MM/yy'}}</p>
                  </div>
                </ion-col>
                <ion-col col-6>
                  <div>
                    <span style="background: #4184f3">
                      <ion-icon name="ios-bug" item-left large></ion-icon>
                    </span>
                    <p>{{reg.indice}}</p>
                  </div>
                </ion-col>

              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="contenedorBoton">
                    <button ion-button clear item-end (click)="irAlRegistro(reg.idRegistro)">Ver</button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>