lista-registros {
    ion-content,
    ion-list-header {
        background-color: #f1f1f4 !important;
    }
    ion-list-header {
        font-size: 2em !important;
    }
    .header {
        font-size: 1.4em;
        margin: 10px;
        position: relative;
    }
    .header .icon {
        color: #4184f3;
        font-size: 2em;
    }
    .header span {
        position: absolute;
        bottom: 3px;
        left: 45px;
        font-size: 1.5em;
    }
    .titulo {
        width: 100%;
        padding: 9px;
        background: color($colors, primary);
        ;
    }
    .titulo h2 {
        font-size: 3em;
        color: white;
    }
    ion-fab[top] {
        top: 20px !important;
        right: 20px !important;
    }
    .empty {
        height: calc(100% - 96px);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #7e8588;
        p {
            max-width: 60px;
            max-width: 300px;
            font-size: 20px;
        }
    }
    .arrow {
        text-align: center;
        margin: 8% 0;
    }
    .bounce {
        -moz-animation: bounce 1.5s infinite;
        -webkit-animation: bounce 1.5s infinite;
        animation: bounce 1.5s infinite;
    }
    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }
}