lista-registros{
    .card-background-page { 
        ion-card {
            position: relative;
            text-align: center;
        }
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }
    }
    .overlay {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        display: block;
        width: 100%;
    }
    
    ion-card ion-item {
        background: #FAFAFA !important;
    }

    ion-item:nth-child(odd) {
        background: #FAFAFA;
    }

    ion-list-header{
        margin-bottom: -10px !important;
        min-height: 2.5rem !important;
        font-size: 2rem !important;
    }
    
    
}