extends layout

block content
  form(method='POST')
    legend Restablecer Contraseña
    .form-group
      label(for='password') Nueva Contraseña
      input.form-control(type='password', name='password', value='', placeholder='Nueva Contraseña', autofocus=true)
    .form-group
      label(for='password_confirm') Repetir Contraseña
      input.form-control(type='password', name='password_confirm', value='', placeholder='Repetir Contraseña')
    .form-group
      button.btn.btn-primary(type='submit') Actualizar Contraseña