crop-image {
    .scroll-content {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #101113;
    }
    .contenedorImagen{
        height: 80%;
    }
}