<ion-content>
  <div *ngIf="registro">
    <ion-grid class="contenedor">

      <ion-row>
        <div class="titulo">
          <h2>Registro N° {{idRegistro}}</h2>
          <h1>Creado por
            <a style="margin-left: 0px;margin-right: 0px; text-decoration: underline;" (click)="verUsuario(registro.idUsuario)">{{registro.usuario}}</a>
            <span>{{registro.fecha | date:'dd/MM/yy'}}</span>
          </h1>
        </div>
      </ion-row>

      <ion-row>
        <ion-col col-12 class="center">
          <ion-card>
            <img [src]='fotoPaisajeURLSafe' imageViewer/>
            <ion-card-content>
              <h2>
                Observaciones
              </h2>
              <p *ngIf="registro.observacion == '' || registro.observacion == null">El usuario no hizo observaciones</p>
              <p *ngIf="registro.observacion !== '' || registro.observacion !== null">{{registro.observacion}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col col-12 class="center">
          <ion-row class="cardAcostada">
            <ion-col id="cardAcostada1" col-12 col-sm-5 (click)="presentImage(fotoMapaURL)" [ngStyle]="{'background-image': 'url(' + fotoMapaURL + ')'}"></ion-col>
            <ion-col id="cardAcostada2" col-12 col-sm-7>
              <div>
                <ion-icon name="map" item-left large></ion-icon>
                <h2>Ubicacion</h2>
                <p>{{registro.ciudad}}, {{registro.provincia}}, {{registro.pais}}</p>
                <ion-icon name="pin" item-left large></ion-icon>
                <h2>Coordenadas</h2>
                <p>Latitud: {{registro.latitud}}</p>
                <p>Longitud: {{registro.longitud}}</p>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="cardAcostada">
            <ion-col id="cardAcostada3" col-12 col-sm-5 push-sm-7 (click)="presentImage(fotoMuestraURL)" [ngStyle]="{'background-image': 'url(' + fotoMuestraURL + ')'}"></ion-col>
            <ion-col id="cardAcostada4" col-12 col-sm-7 pull-sm-5>
              <div>
                <ion-icon name="clipboard" item-left large></ion-icon>
                <h2>Indice</h2>
                <p>{{registro.indice}}</p>
                <ion-icon name="bug" item-left large></ion-icon>
                <h2>Insectos encontrados:</h2>
                <div class="tabla">
                  <table>
                    <thead>
                      <tr>
                        <th scope="col">Plecoptero</th>
                        <th scope="col">Tricoptero</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td data-label="">{{registro.plecoptero}}</td>
                        <td data-label="">{{registro.tricoptero}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <table>
                    <thead>
                      <tr>
                        <th scope="col">Elmido</th>
                        <th scope="col">Patudo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td data-label="">{{registro.elmido}}</td>
                        <td data-label="">{{registro.patudo}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="adminComments">
          <ion-list class="mat-elevation-z4">
            <ion-item>
              <ion-label color="primary" stacked>Observaciones</ion-label>
              <ion-textarea></ion-textarea>
            </ion-item>
          </ion-list>
          <div class="actionsComments">
            <button ion-button icon-only clear small>
              <ion-icon name="home"></ion-icon>
            </button>
            <button ion-button icon-only clear small>
              <ion-icon name="home"></ion-icon>
            </button>
            <button ion-button icon-only clear small>
              <ion-icon name="home"></ion-icon>
            </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>