.ios,
.md {
    login-page {
        .titulo {
            // font-family: 'Pacifico', cursive; 
            // font-family: 'Fascinate Inline', cursive;
            font-family: 'Leckerli One', cursive !important;
            text-align: center;
            margin: 63px 0px;
            font-size: 3em;
        }
        a {
            font-weight: bold;
            color: lightgray;
            text-decoration: underline;
            font-size: 12px;
            font-family: 'Roboto';
        }
        .input {
            font-family: 'Roboto';
        }
        .pIzq {
            float: left;
            margin-left: 10%;
        }
        .pDer {
            float: right;
            margin-right: 10%;
        }
        .overlay {
            position: relative;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
        }
        ion-content {
            // background-image: url("../assets/img/cascadaRioNoque.jpg");
            background-position: center;
            color: white;
        }
        .entreLineas {
            line-height: 0.5;
            text-align: center;
        }
        .entreLineas span {
            display: inline-block;
            position: relative;
            width: 25%;
            color: lightgray;
        }
        .entreLineas span:before,
        .entreLineas span:after {
            content: "";
            position: absolute;
            height: 3px;
            border-bottom: 1px solid grey; // border-top: 1px solid grey;
            top: 0;
            width: 100%;
        }
        .entreLineas span:before {
            right: 100%;
            margin-right: 15px;
        }
        .entreLineas span:after {
            left: 100%;
            margin-left: 15px;
        }
        .logFace {
            background-color: #1b4d7f;
            width: 90%;
            margin: 0 auto;
        }
        .logFace:hover {
            background-color: #062e56;
        }
        .boton {
            display: block;
            width: 90%;
            margin: 0 auto;
            font-family: 'Oswald', sans-serif;
        }
        .mesanjeBienvenida {
            font-family: 'Roboto' !important;
        }
        .mesanjeBienvenida p {
            font-family: 'Roboto' !important;
            font-size: 4em;
            font-weight: 300;
            position: absolute;
            bottom: 0;
            left: 20px;
        }
        .mesanjeBienvenida span{
            font-family: 'Leckerli One' !important;
        }
        @media (min-width: 768px) {
            .aguita {
                background: white;
            }
            .grid {
                padding: 0px !important;
            }
            .titulo {
                font-family: 'Roboto' !important;
                margin: 63px auto;
                font-size: 3em;
                font-weight: 300;
                text-align: left;
                color: black;
                width: 90%;
            }
            .entreLineas span {
                color: #6f6b6b !important;
            }
            a {
                color: #6f6b6b;
            }
        }
        @media (max-width: 767px) {
            #lado {
                display: none;
            }
        }
    }
}