<ion-header>
  <ion-navbar color="white">
    <ion-grid class="headerMenu">
      <ion-row>
        <ion-col>
          <div class="tituloPagina">
            <span>
              {{titulo}}
            </span>
          </div>
        </ion-col>
        <ion-col>
          <div class="user">
            <ion-row>
              <ion-col>
                <img src="https://randomuser.me/api/portraits/men/31.jpg" alt="">
              </ion-col>
              <ion-col>
                <span>
                  Dosantos, Daniel
                </span>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>