<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Nuevo Registro
    </ion-title>
    <!-- <ion-buttons start>
      <button ion-button icon-only (click)="logout()"><ion-icon name="power"></ion-icon></button>
    </ion-buttons> -->
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="registro">
      <ion-segment-button value="mapa">
        Mapa
      </ion-segment-button>
      <ion-segment-button value="fotos">
        Fotos
      </ion-segment-button>
      <ion-segment-button value="obseravaciones">
        Obseravaciones
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content style="margin-top: 111px;" class="scroll-content ionic-scroll  has-header">
  <div #micontenedor class="contenedorCenter">

    <div [ngSwitch]="registro">
      <div *ngSwitchCase="'mapa'" style="text-align: center;">
        <p>GEOLOCALIZACION OBETENIDA, PULSE
          <STRONG>SIGUIENTE</STRONG> PARA CONTINUAR</p>
        <div class="mapaConteiner" [style.height.px]="altoMapa">
          <page-mapasnativo [latitud]="this.latitud" [longitud]="this.longitud" *ngIf="false"> </page-mapasnativo>
          <mapajshtml [latitud]="this.latitud" [longitud]="this.longitud" *ngIf="true"></mapajshtml>
        </div>
        <span style="color:gray">Usted esta aqui!!!</span>
      </div>

      <div *ngSwitchCase="'fotos'">
        <div class="contenedor">
          <div class="padding" *ngIf="!fotoPaisaje">
            <button class="uploadPicture" style="height: 228px;" (click)="takefotoPaisaje()">
              <ion-icon name="camera"></ion-icon>
              <p>
                <ion-icon name="md-add-circle"></ion-icon> Foto del Paisaje</p>
            </button>
          </div>
          <div class="padding" *ngIf="fotoPaisaje">
            <div class="mapa">
              <img [src]="fotoPaisajeURLSafe" (click)="mostrarFoto(fotoPaisaje)" style="border-top-left-radius: 10px;border-top-right-radius: 10px;">
              <p>Foto Paisaje
                <button (click)="deleteFoto('paisaje')" style="background: transparent;font-size: 1em;color: #757575;">
                  <ion-icon style="margin-left: 2px;" name="trash"></ion-icon>
                </button>
              </p>
            </div>
          </div>
          <div class="padding" *ngIf="fotoMuestra">
            <div class="mapa">
              <img [src]="fotoMuestraURLSafe" (click)="mostrarFoto(fotoMuestra)" style="border-top-left-radius: 10px;border-top-right-radius: 10px;">
              <p>Foto Muestra
                <button (click)="deleteFoto('muestra')" style="background: transparent;font-size: 1em;color: #757575;">
                  <ion-icon style="margin-left: 2px;" name="trash"></ion-icon>
                </button>
              </p>
            </div>
          </div>
          <div class="padding" *ngIf="!fotoMuestra">
            <button class="uploadPicture" style="height: 228px;" (click)="takefotoMuestra()">
              <ion-icon name="camera"></ion-icon>
              <p>
                <ion-icon name="md-add-circle"></ion-icon> Foto de la Muestra</p>
            </button>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'obseravaciones'">
        <form [formGroup]="coincidencia">
          <ion-row>
            <ion-col col-12 col-sm-6 col-xl-3>
              <ion-card>
                <!--Para llevar un string a una funcion solo poner '', como en openModal 'elmido'-->
                <img class="bichos" [src]="fotoElmido" (click)="openModal(realElmido,'elmido')" />
                <ion-card-content>
                  <ion-card-title>
                    Elmidos
                  </ion-card-title>
                  <p>
                    ¿Se encuentra este bicho?
                    <ion-list radio-group formControlName="elmidos">
                      <ion-item>
                        <ion-label>Si</ion-label>
                        <ion-radio (click)="move('patudo')" value="si"></ion-radio>
                      </ion-item>
                      <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio (click)="move('patudo')" value="no"></ion-radio>
                      </ion-item>
                    </ion-list>
                  </p>
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col id="patudo" col-12 col-sm-6 col-xl-3>
              <ion-card>
                <img class="bichos" [src]="fotoPatudo" (click)="openModal(realPatudo,'patudo')" />
                <ion-card-content>
                  <ion-card-title>
                    Patudo
                  </ion-card-title>
                  <p>
                    ¿Se encuentra este bicho?
                    <ion-list radio-group formControlName="patudos">
                      <ion-item>
                        <ion-label>Si</ion-label>
                        <ion-radio (click)="move('plecoptero')" value="si"></ion-radio>
                      </ion-item>
                      <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio (click)="move('plecoptero')" value="no"></ion-radio>
                      </ion-item>
                    </ion-list>
                  </p>
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col id="plecoptero" col-12 col-sm-6 col-xl-3>
              <ion-card>
                <img class="bichos" [src]="fotoPlecoptero" (click)="openModal(realPlecoptero,'plecoptero')" />
                <ion-card-content>
                  <ion-card-title>
                    Plecoptero
                  </ion-card-title>
                  <p>
                    ¿Se encuentra este bicho?
                    <ion-list radio-group formControlName="plecopteros">
                      <ion-item>
                        <ion-label>Si</ion-label>
                        <ion-radio (click)="move('tricoptero')" value="si"></ion-radio>
                      </ion-item>
                      <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio (click)="move('tricoptero')" value="no"></ion-radio>
                      </ion-item>
                    </ion-list>
                  </p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col id="tricoptero" col-12 col-sm-6 col-xl-3>
              <ion-card>
                <img class="bichos" [src]="fotoTricoptero" (click)="openModal(realTricoptero,'tricoptero')" />
                <ion-card-content>
                  <ion-card-title>
                    Tricoptero
                  </ion-card-title>
                  <p>
                    ¿Se encuentra este bicho?
                    <ion-list radio-group formControlName="tricopteros">
                      <ion-item>
                        <ion-label>Si</ion-label>
                        <ion-radio (click)="move('observaciones')" value="si"></ion-radio>
                      </ion-item>
                      <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio (click)="move('observaciones')" value="no"></ion-radio>
                      </ion-item>
                    </ion-list>
                  </p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col id="observaciones" col-12>
              <ion-list formControlName="observaciones">
                <ion-item>
                  <ion-label color="primary" floating>Observaciones</ion-label>
                  <ion-textarea></ion-textarea>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </form>

      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-buttons>
      <button *ngIf="this.registro != 'obseravaciones'" ion-button block style="float: right" (click)="siguientePaso()">Siguiente
        <ion-icon style="margin-left: 10%; font-size: 2em;" name="arrow-dropright-circle"></ion-icon>
      </button>
      <button *ngIf="this.registro === 'obseravaciones'" ion-button block style="float: right" (click)="siguientePaso()">Subir
        <ion-icon style="margin-left: 10%; font-size: 2em;" name="cloud-upload"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons>
      <button *ngIf="this.registro != 'mapa'" ion-button block style="float: left" (click)="pasoAnterior()">
        <ion-icon style="margin-right: 10%; font-size: 2em;" name="arrow-dropleft-circle"></ion-icon> Atras</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>