.ios, .md {

    observaciones {

        ion-scroll {
            white-space: nowrap;
            height: 150px;
        }

        .bichos{
            max-width: 200px;
            max-height: 200px;
            margin: 0 auto;
        }
    }
}