<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-row>
          <ion-col col-12 class="profile">
            <ion-row class="contenedorImagen">
              <div>
                <img [src]="'data:image/jpeg;base64,'+this.usuario?.fotoPerfil" />
                <h2>{{usuario?.usuario}}</h2>
                <input type="file" #fileInput id="imgFile" style="display:none" (change)="subirImagen($event)">
                <button (click)="llamarAlInput()" color="dark" id="UploadButton">
                  <ion-icon name="camera"></ion-icon>
                </button>
              </div>
            </ion-row>
            <ion-row class="contenidoProfile">
              <div class="tabla">
                <table>
                  <thead>
                    <tr>
                      <th scope="col">C. Registros</th>
                      <th scope="col">Fecha Activo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td data-label="">4</td>
                      <td data-label="">20/12/1989</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ion-row>
            <ion-row class="profileBottom">
              <ion-col>
                <button ion-button color="danger" round>
                  <ion-icon name="close"></ion-icon>Baja
                </button>
                <button ion-button color="verde" round (click)="botonEditar()" *ngIf="!editar">
                  <ion-icon ios="ios-create" md="md-create"></ion-icon>Editar
                </button>
                <button ion-button color="verde" round *ngIf="editar" (click)="botonCancelar()">
                  <ion-icon ios="ios-create" md="md-create"></ion-icon>Cancelar
                </button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col col-12>
        <div class="segmento">
          <ion-segment [(ngModel)]="infoUsuarios">
            <ion-segment-button value="info">
              Informacion
            </ion-segment-button>
            <ion-segment-button value="registros">
              Registros
            </ion-segment-button>
          </ion-segment>

          <div [ngSwitch]="infoUsuarios">

            <form [formGroup]="formularioUsuario" *ngSwitchCase="'info'">
              <ion-item>
                <ion-label stacked>Nombre</ion-label>
                <ion-input type="text" formControlName="nombre" [disabled]="!editar"></ion-input>
              </ion-item>
              <p class="text-danger" *ngIf="!formularioUsuario.controls.nombre.valid  && submitAttempt">Debe Ingresar un Nombre</p>
              <ion-item>
                <ion-label stacked>Apellido</ion-label>
                <ion-input type="text" formControlName="apellido" [disabled]="!editar"></ion-input>
              </ion-item>
              <p class="text-danger" *ngIf="!formularioUsuario.controls.apellido.valid  && submitAttempt">Debe Ingresar un Apellido</p>
              <ion-item>
                <ion-label stacked>Residencia</ion-label>
                <ion-input type="text" formControlName="residencia" [disabled]="!editar"></ion-input>
              </ion-item>
              <p class="text-danger" *ngIf="!formularioUsuario.controls.residencia.valid  && submitAttempt">Debe Ingresar una Residencia</p>
              <ion-item>
                <ion-label stacked>Institucion</ion-label>
                <ion-input type="text" formControlName="institucion" [disabled]="!editar"></ion-input>
              </ion-item>
              <p class="text-danger" *ngIf="!formularioUsuario.controls.institucion.valid  && submitAttempt">Debe Ingresar una Institucion</p>
              <ion-item>
                <ion-label stacked>Grado</ion-label>
                <ion-input type="text" formControlName="grado" [disabled]="!editar"></ion-input>
              </ion-item>
              <p class="text-danger" *ngIf="!formularioUsuario.controls.grado.valid  && submitAttempt">Debe Ingresar el Grado</p>
              <ion-item>
                <button float-right color="azul" ion-button type="submit" (click)="actualizar()" style="padding: 15px;" *ngIf="editar">Actualizar</button>
              </ion-item>
            </form>

            <div style="height: 500px;" *ngSwitchCase="'registros'">
              <lista-registros-usuario [idUsuario]="1"></lista-registros-usuario>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div *ngIf="usuario" style="background-color: #d14836; margin-top: -1px;" class="col-md-12 col-lg-12" align="center">
        <div class="outter">
            <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="image-circle" />
        </div>
        <h1 *ngIf="!editar">{{usuario.nombre}} {{usuario.apellido}}</h1>
        <ion-input class="inputHeader" [(ngModel)]="usuario.nombre" *ngIf="editar" type="text" value="{{usuario.nombre}}"></ion-input>
        <ion-input class="inputHeader" [(ngModel)]="usuario.apellido" *ngIf="editar" type="text" value="{{usuario.apellido}}"></ion-input>
        <h2>Usted tiene {{usuario.registros}} registros</h2>
    </div>

    <div class="contenedor">
        <div class="contenedorTabla" *ngIf="usuario">
            <table>
                <tbody>
                    <tr>
                        <td style="font-weight: bold;">Residencia</td>
                        <td *ngIf="!editar">{{usuario.residencia}}</td>
                        <ion-input class="inputBody" [(ngModel)]="usuario.residencia" *ngIf="editar" type="text" value="{{usuario.residencia}}"></ion-input>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Institucion</td>
                        <td *ngIf="!editar">{{usuario.institucion}}</td>
                        <ion-input class="inputBody" [(ngModel)]="usuario.institucion" *ngIf="editar" type="text" value="{{usuario.institucion}}"></ion-input>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Grado</td>
                        <td *ngIf="!editar">{{usuario.grado}}</td>
                        <ion-input class="inputBody" [(ngModel)]="usuario.grado" *ngIf="editar" type="text" value="{{usuario.grado}}"></ion-input>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Usuario</td>
                        <td>{{usuario.usuario}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Mail</td>
                        <td>{{usuario.mail}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="botones">
            <button ion-button color="secondary" *ngIf="!editar" (click)="botonEditar()">Editar</button>
            <button ion-button color="favorite" *ngIf="!editar" (click)="confirmarEliminar()">Eliminar</button>
            <button ion-button color="favorite" *ngIf="editar" (click)="botonAceptar()">Aceptar</button>
            <button ion-button *ngIf="editar" (click)="botonCancelar()">Cancelar</button>
        </div>
    </div> -->


</ion-content>