<ion-content padding [ngStyle]="{'background-size': tam , 'background-image':'url('+fotoIntro+')' }">
  <div class="overlay" style="overflow: scroll">
    <button class="volver" ion-button clear (click)="volver()">
      <ion-icon name="arrow-back"></ion-icon>&emsp;Volver</button>
    <div style="max-width: 480px;    margin: 0 auto;     padding: 15px;">



      <ion-list>
        <form [formGroup]="registroForm">
          <ion-item *ngIf="submitAttempt">
            <p style="color: #ea6153;">Por favor ingresar datos validos.</p>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="person"></ion-icon> Nombre
            </ion-label>
            <ion-input formControlName="nombre" type="text" [class.invalid]="!registroForm.controls.nombre.valid && (registroForm.controls.nombre.dirty || submitAttempt)"></ion-input>
          </ion-item>
          <ion-item *ngIf="!registroForm.controls.nombre.valid  && (registroForm.controls.nombre.touched || submitAttempt)">
            <p>CAMPO OBLIGATORIO. Ingrese un nombre</p>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="person"></ion-icon> Apellido
            </ion-label>
            <ion-input  formControlName="apellido" type="text" [class.invalid]="!registroForm.controls.apellido.valid && (registroForm.controls.apellido.dirty || submitAttempt)"></ion-input>
          </ion-item>
          <ion-item *ngIf="!registroForm.controls.apellido.valid  && (registroForm.controls.apellido.touched || submitAttempt)">
            <p>CAMPO OBLIGATORIO. Ingrese un apellido</p>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="pin"></ion-icon> Residencia
            </ion-label>
            <ion-input  formControlName="residencia" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="home"></ion-icon> Institución
            </ion-label>
            <ion-input  formControlName="institucion" type="text" [class.invalid]="!registroForm.controls.institucion.valid && (registroForm.controls.institucion.dirty || submitAttempt)"></ion-input>
          </ion-item>
          <ion-item *ngIf="!registroForm.controls.institucion.valid  && (registroForm.controls.institucion.touched || submitAttempt)">
            <p>CAMPO OBLIGATORIO. Ingrese una institución</p>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="school"></ion-icon> Grado
            </ion-label>
            <ion-input  formControlName="grado" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="at"></ion-icon> e-Mail
            </ion-label>
            <ion-input  formControlName="mail" type="email" [class.invalid]="!registroForm.controls.mail.valid && (registroForm.controls.mail.dirty || submitAttempt)"></ion-input>
          </ion-item>
          <ion-item *ngIf="!registroForm.controls.mail.valid  && (registroForm.controls.mail.touched || submitAttempt)">
            <p>Por favor ingrese una direccion de mail valida</p>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="contact"></ion-icon> Usuario
            </ion-label>
            <ion-input  formControlName="username" type="text" [class.invalid]="!registroForm.controls.username.valid && (registroForm.controls.username.dirty || submitAttempt)"></ion-input>
          </ion-item>
          <ion-item *ngIf="!registroForm.controls.username.valid  && (registroForm.controls.username.touched || submitAttempt)">
            <p>CAMPO OBLIGATORIO. Ingrese un nombre de usuario con al menos 5 caracteres</p>
          </ion-item>
          <ion-item>
            <ion-icon name="eye" id="eye" item-end (click)="verPassword()"></ion-icon>
            <ion-label>
              <ion-icon name="lock"></ion-icon> Contraseña
            </ion-label>
            <ion-input  formControlName="password" [type]="verPass" [class.invalid]="!registroForm.controls.password.valid && (registroForm.controls.password.dirty || submitAttempt)"></ion-input>
          </ion-item>
          <ion-item *ngIf="!registroForm.controls.password.valid  && (registroForm.controls.password.touched || submitAttempt)">
            <p>CAMPO OBLIGATORIO. Ingrese una contraseña con al menos 5 caracteres</p>
          </ion-item>
          <!-- <a [style.color]="isActive? '#d14836':'white'" style="font-size: 1em; text-decoration: underline;" (click)="verPassword()">
            {{tituloBoton}}
          </a> -->
          <!--<ion-item>
                    <ion-label>Role</ion-label>
                    <ion-select [(ngModel)]="role">
                        <ion-option value="reader">Reader</ion-option>
                        <ion-option value="creator">Creator</ion-option>
                        <ion-option value="editor">Editor</ion-option>
                    </ion-select>
                </ion-item>-->
        </form>
      </ion-list>
      <button ion-button color="primary" id="registrar" (click)="register()">
        Registrarse
      </button>
    </div>
  </div>
</ion-content>