
<ion-header>
<ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Registro N° {{idRegistro}}
    </ion-title>
    <ion-buttons start>
    <button ion-button icon-only (click)="logout()"><ion-icon name="power"></ion-icon></button>
  </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
    <div *ngIf="registro">

        <div class="fotoPaisaje" [ngStyle]="{'background-image': 'url(' + fotoPaisajeURL + ')'}" >
            <div class="overlay titulo">
                <p>FOTO DEL PAISAJE</p>
            </div> 
        </div>

    <div class="contenedor">
        <!--<div class="contenedorTab">
            <table class="tabla">
                <thead>
                    <tr>
                        <th>Registro N°</th>
                        <th>Creado por</th>
                        <th>Fecha</th>
                        <th>Estado del registro</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{registro.idRegistro}}</td>
                        <td>{{registro.usuario}} <a style="text-decoration: underline;" (click)="verUsuario(registro.idUsuario)">Ver Perfil</a></td>
                        <td>{{registro.fecha | date:'dd/MM/yy'}}</td>
                        <td>{{valido}}</td>
                        <td>
                            <div *ngIf="rol == 'administrador' && registro.valido == 0">
                                <a style="text-decoration: underline;" color="secondary" (click)="mensajeConfirmar(registro.idRegistro,'validar')">Validar</a>
                                <a style="text-decoration: underline;" color="red" (click)="mensajeConfirmar(registro.idRegistro,'invalidar')">Invalidar</a>
                            </div>
                            <div *ngIf="rol == 'administrador' && registro.valido == 1">
                                <a style="text-decoration: underline;" color="red" (click)="mensajeConfirmar(registro.idRegistro,'invalidar')">Invalidar</a>
                            </div>
                            <div *ngIf="rol == 'administrador' && registro.valido == -1">
                                <a style="text-decoration: underline;" color="secondary" (click)="mensajeConfirmar(registro.idRegistro,'validar')">Validar</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th colspan="5">Observaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="3" colspan="5">{{registro.observacion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>-->
        <ion-grid>
            <ion-row>
                <ion-col col-md-4 col-lg-6>
                    <ion-card class="contenedorImg">
                        <img style="max-height: 250px;" imageViewer [src]="fotoMapaURLSafe">
                        <ion-item>
                            <ion-icon name="map" item-left large></ion-icon>
                            <h2>Ubicacion</h2>
                            <p>{{registro.ciudad}}, {{registro.provincia}}, {{registro.pais}}</p>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="pin" item-left large></ion-icon>
                            <h2>Coordenadas</h2>
                            <p>Latitud: {{registro.latitud}}</p>
                            <p>Longitud: {{registro.longitud}}</p>
                        </ion-item>
                    </ion-card>
                </ion-col>
                <ion-col col-md-4 col-lg-6>
                    <ion-card class="contenedorImg">
                        <img style="max-height: 250px;" imageViewer [src]="fotoMuestraURLSafe">
                        <ion-item>
                            <ion-icon name="clipboard" item-left large></ion-icon>
                            <h2>Indice</h2>
                            <p>{{registro.indice}}<p>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="bug" item-left large ></ion-icon>
                            <h2>Insectos encontrados:</h2>
                            <table class="bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Elmido</th>
                                        <th scope="col">Patudo</th>
                                        <th scope="col">Plecoptero</th>
                                        <th scope="col">Tricoptero</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-label="">{{registro.elmido}}</td>
                                        <td data-label="">{{registro.patudo}}</td>
                                        <td data-label="">{{registro.plecoptero}}</td>
                                        <td data-label="">{{registro.tricoptero}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </ion-item>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-md-4 col-lg-6>
                    <ion-card class="contenedorImg">
                       <ion-card-content>
                            <h2>Registro Nº</h2>
                            <p style="margin-left: 10px;">{{registro.idRegistro}}</p>
                            <div *ngIf="rol == 'administrador'">
                                <h2>Creado por</h2>
                                <p style="margin-left: 10px;">{{registro.usuario}} <a style="margin-left: 10px; text-decoration: underline;" (click)="verUsuario(registro.idUsuario)">Ver Perfil</a></p>
                            </div>
                            <h2>Fecha</h2>
                            <p style="margin-left: 10px;">{{registro.fecha | date:'dd/MM/yy'}}</p>
                            <h2>Estado del registro</h2>
                            <p style="margin-left: 10px;">{{valido}}</p>
                            <h2>Observaciones</h2>
                            <p style="margin-left: 10px;">{{registro.observacion}}</p>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    </div>
        <ion-fab #fab auto-close-on-click-outside bottom right *ngIf="registro">
            <button class="botonValidar" ion-fab>Cambiar estado</button>
            <ion-fab-list side="top">
                <div *ngIf="rol == 'administrador' && registro.valido == 0">
                    <button class="botonValidar" ion-fab (click)="mensajeConfirmar(registro.idRegistro,'validar',fab)">Validar</button>
                    <button class="botonValidar" ion-fab (click)="mensajeConfirmar(registro.idRegistro,'invalidar',fab)">Invalidar</button>
                </div>
                
                
                <div *ngIf="rol == 'administrador' && registro.valido == 1">
                    <button class="botonValidar" ion-fab (click)="mensajeConfirmar(registro.idRegistro,'invalidar',fab)">Invalidar</button>
                </div>
                <div *ngIf="rol == 'administrador' && registro.valido == -1">
                    <button class="botonValidar" ion-fab (click)="mensajeConfirmar(registro.idRegistro,'validar',fab)">Validar</button>
                </div>
            </ion-fab-list>
        </ion-fab>
</ion-content>

