page-registro {

    ion-content{
        background-color: #F2F2F2 !important;
    }

    .contenedorImg{
        position: relative;
        overflow: auto;
        background-color: white;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    }

    .contenedorTab{
        margin: 40px auto;
        max-width: 600px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    }      

    .tabla th{
        padding: 5px 5px 5px 10px;
        border-radius: 0px;
        background-color: #2C3E50;
        color: white;
    }

    .tabla td{
        padding: 5px;
        border-radius: 0px;
        // background-color: #ECF0F1;
        background-color: white;
        color: black;
        text-align: center;

    }

    .tabla{
        overflow: auto;
    display: block;
    }

        .fotoPaisaje{
            width: 100% !important;
            height: 250px !important;
            background-position: center;
            background-size: 100% 140%;
            position: relative;
        }

        .overlay{
            position: absolute;
            background: rgba(0,0,0,0.7);
            z-index: 20;
            color: antiquewhite;
            
        }

        .titulo{
            top: 1px;
        }

        .titulo p{
            font-size: 20px;
            margin: 0px;
        }

        .subtitulo{
            bottom: 1px;
        }
        .subtitulo p{
            font-size: 15px;
            margin: 1px;
        }

        th{
            font-size: 14px;
            font-weight: normal;
        }

        td{
            font-size: 14px;
            font-weight: normal;
        }

        .botonValidar{
            width: 100px;
                border-radius: 15%;
    font-size: 15px;
        }
           

}
