.ios,
.md {
    forgot-password {
        .overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            z-index: 20;
            top: 0;
            left: 0;
        }
        ion-content {
            // background-image: url("../assets/img/cascadaRioNoque.jpg");
            background-position: center;
            color: white;
        }
        ion-icon {
            font-size: 1.8em;
            font-weight: bold;
        }
        .volver {
            font-weight: bolder;
            font-size: 1.2em;
            color: white;
            margin-top: 20px
        }
        p {
            font-size: 0.8em;
            color: #ea6153;
        }
        .swiper-slide {
            display: block;
        }
        .invalid {
            border: 1px solid #ea6153;
        }
        .item {
            border-radius: 5px;
            max-height: 1px;
        }
        .label {
            font-size: 1.3em;
            font-weight: bold;
            margin-bottom: 3px;
        }
        .contenido {
            max-width: 300px;
            margin: 0 auto;
            padding-top: 35px;
        }
        .boton {
            color: white;
            background-color: #3980C3;
            display: block;
            float: right;
            font-family: 'Oswald', sans-serif;
        }
        .boton:hover {
            background-color: #0468c5;
        }
    }
}