page-sideMenu {
    /* remove outer padding */
    .container-main .row{
        padding: 0px;
        margin: 0px;
    }

    /*Remove rounded coners*/

    nav.sidebar.navbar {
        border-radius: 0px;
    }

    nav.sidebar, .container-main{
        -webkit-transition: margin 200ms ease-out;
        -moz-transition: margin 200ms ease-out;
        -o-transition: margin 200ms ease-out;
        transition: margin 200ms ease-out;
    }

    /* Icons */
    .menu-icon {
        font-size: 20px;
    }

    /* Add gap to nav and right windows.*/
    /*.container-main{
        padding: 10px 10px 0 10px;
    }*/

    /* Colors */
    .navbar-m2p {
        background-color: #00464f;
        border-color: #00464f;
    }
    .navbar-m2p span, .navbar-m2p a {
        color: #FFFFFF;
    }
    .active .dropdown-toggle {
        background-color: rgba(126, 169, 39, 0.3);
        border-color: rgba(126, 169, 39, 0.3);
    }
    .nav .open > a {
        background-color: rgba(126, 169, 39, 0.3);
        border-color: rgba(126, 169, 39, 0.3);
    }
    .nav li > a:hover, .nav .open > a:hover,
    .nav li > a:focus, .nav .open > a:focus,
    .nav li > a:active, .nav .open > a:active {
        background-color: rgba(126, 169, 39, 0.3);
    }

    .nav .open ul > li {
        background-color: rgba(126, 169, 39, 0.4)
    }
    
    .navbar-m2p .navbar-nav .open .dropdown-menu>li>a {
        color: #FFFFFF;
        padding: 10px;
    }
    /* borda menu active */
    .navbar-m2p .navbar-nav .active a {
        margin-left: -1px;
        border-left: 5px solid #7ea927;
    }
    /* Hamburger */
    .navbar-toggle {
        background-color: transparent;
        border: 1px solid rgba(126, 169, 39, 0.4);
    }
    .navbar-toggle .icon-bar,
    .navbar-toggle .icon-bar + .icon-bar {
        background-color: #7ea927;
    }

    nav:hover .forAnimate{
        opacity: 1;
    }

    .navbar-m2p .dropdown-menu {
        padding: 0px;
    }

    .nav li.separator {
        padding: 10px 15px;
        text-transform: uppercase;
        background-color: rgba(0, 0, 39, 0.2);
        color: rgba(208, 208, 207, 0.4);
    }

    /* .....NavBar: Icon only with coloring/layout.....*/

    /*small/medium side display*/
    @media (min-width: 768px) {

        /*Allow main to be next to Nav*/
        .container-main{
            position: absolute;
            width: calc(100% - 40px); /*keeps 100% minus nav size*/
            margin-left: 40px;
            float: right;
        }

        /*lets nav bar to be showed on mouseover*/
        nav.sidebar:hover + .container-main{
            margin-left: 300px;
        }

        /*Center Brand*/
        nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
            margin-left: 0px;
        }
        /*Center Brand*/
        nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
            text-align: center;
            width: 100%;
            margin-left: 0px;
            font-size: 25px;
            line-height: 27px;
        }

        /*Center Icons*/
        nav.sidebar a{
            padding-right: 13px;
        }

        /* Colors/style dropdown box*/
        nav.sidebar .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        /*allows nav box to use 100% width*/
        nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
            padding: 0 0px 0 0px;
        }

        /*gives sidebar width/height*/
        nav.sidebar{
            width: 308px;
            height: 100%;
            margin-left: -260px;
            float: left;
            z-index: 8000;
            margin-bottom: 0px;
        }

        /*give sidebar 100% width;*/
        nav.sidebar li {
            width: 100%;
        }

        /* Move nav to full on mouse over*/
        nav.sidebar:hover{
            margin-left: 0px;
        }
        /*for hiden things when navbar hidden*/
        .forAnimate{
            opacity: 0;
        }
    }

    /* .....NavBar: Fully showing nav bar..... */

    @media (min-width: 1100px) {

        /*Allow main to be next to Nav*/
        .container-main{
            width: calc(100% - 300px); /*keeps 100% minus nav size*/
            margin-left: 300px;
        }

        /*Show all nav*/
        nav.sidebar{
            margin-left: 0px;
            float: left;
        }
        /*Show hidden items on nav*/
        nav.sidebar .forAnimate{
            opacity: 1;
        }
    }


    /*Header Top Menu*/

    .navbar-top-links {
    margin-right: 0;
    }
    .navbar-top-links li {
    display: inline-block;
    }
    .navbar-top-links li:last-child {
    margin-right: 15px;
    }
    .navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
    }
    .navbar-top-links .dropdown-menu li {
    display: block;
    }
    .navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
    }
    .navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
    }
    .navbar-top-links .dropdown-menu li a div {
    white-space: normal;
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
    }
    .navbar-top-links .dropdown-messages {
    margin-left: 5px;
    }
    .navbar-top-links .dropdown-tasks {
    margin-left: -59px;
    }
    .navbar-top-links .dropdown-alerts {
    margin-left: -123px;
    }
    .navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
    }

    @media (min-width: 768px) {
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
    }
    .btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
    }
    .btn-primary.btn-outline {
    color: #428bca;
    }
    .btn-success.btn-outline {
    color: #5cb85c;
    }
    .btn-info.btn-outline {
    color: #5bc0de;
    }
    .btn-warning.btn-outline {
    color: #f0ad4e;
    }
    .btn-danger.btn-outline {
    color: #d9534f;
    }
    .btn-primary.btn-outline:hover,
    .btn-success.btn-outline:hover,
    .btn-info.btn-outline:hover,
    .btn-warning.btn-outline:hover,
    .btn-danger.btn-outline:hover {
    color: white;
    }
    .chat {
    margin: 0;
    padding: 0;
    list-style: none;
    }
    .chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999999;
    }
    .chat li.left .chat-body {
    margin-left: 60px;
    }
    .chat li.right .chat-body {
    margin-right: 60px;
    }
    .chat li .chat-body p {
    margin: 0;
    }
    .panel .slidedown .glyphicon,
    .chat .glyphicon {
    margin-right: 5px;
    }
    .chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
    }
    .login-panel {
    margin-top: 25%;
    }
    .flot-chart {
    display: block;
    height: 400px;
    }
    .flot-chart-content {
    width: 100%;
    height: 100%;
    }
}
 
