page-wheel {
    text-align:center;


}

    #wheel{
        display:inline-block;
        position:relative;
        overflow:hidden;
    }
    #wheel:after{
        content:"";
        background:red;
        border:2px solid white;
        position:absolute;
        top:-7px;
        left:50%;
        width:10px;
        height:10px;
        margin-left:-7px;
        transform: rotate(45deg)
    }