.ios, .md {
 
  page-intro {

    .swiper-pagination-bullet-active {
        background: white;
    }

    background-color: #d14836 !important;
 
    ion-slide {
      background-color: #d14836 !important;
    }

    ion-content{
      color: white;
    }

    .ion-page .show-page{
      margin-left: -15 !important;
    }
 
    // ion-slide img {
    //   height: 70vh !important;
    //   width: auto !important;
    // }
 
  }
 
}