.ios, .md {

    ion-scroll {
        white-space: nowrap;
        height: 150px;
    }

    h3{
        background: beige;
    }

    .contenedor{
        padding: 16px;
    }

    .image-list-thumb{
         height: 135px;
         width: 135px;
         margin-left: 3px;
    }



    ion-scroll img{
        margin-right: 2px;
    }

    .borrar{
        
    }
    
    h2{
        border-bottom: 1px solid #F0F3F7;
        line-height: 1.4em;
        margin: 2em 0 1em;
        font-weight: 300;
        font-size: 24px;
        letter-spacing: -0.01em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding: 0 1em;
    }
        
 
}