<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Nueva Muestra
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding  class="home-page">
    <mapajshtml></mapajshtml>
    <div class="contenedor">
      <ion-scroll scrollX="true">
        <img *ngFor="let foto of imagenes; let i = index" src="{{foto.src}}" (click)="openModal(imagenes)"
        style="width:150px">
      <!--<img *ngFor="let foto of imagenes; let i = index"  src="{{foto.src}}"  (click)="abrirImagen(this.foto.src)" class="image-list-thumb"/>-->
        <!--<img *ngFor="let foto of listaFotos; let i = index"  src="{{pathForImage(foto)}}" (click)="abrirImagen(pathForImage(foto))" class="image-list-thumb"/>-->
      </ion-scroll>

    </div>
</ion-content>
 
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons>
      <button ion-button icon-left (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>Seleccionar
      </button>
      <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
        <ion-icon name="cloud-upload"></ion-icon>Subir
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>