.ios, .md {

    ion-scroll {
        white-space: nowrap;
        height: 150px;
    }

    h3{
        background: beige;
    }

    .contenedor{
        padding: 16px;
    }

    .image-list-thumb{
         height: 135px;
         width: 135px;
         margin-left: 3px;
    }

    .scroll-content {
        border-radius: 8px;
    }

    ion-scroll img{
        margin-right: 2px;
    }

    .borrar{
        
    }
        
 
}