
<ion-header>
<ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Gestion Usuarios
    </ion-title>
    <ion-buttons start>
    <button ion-button icon-only (click)="logout()"><ion-icon name="power"></ion-icon></button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div style="width: 100%;">
    <div style="float: left; width: 40%;">
      <ion-list>
        <ion-item>
          <ion-label>Filtrar por</ion-label>
          <ion-select [(ngModel)]="filtro">
            <ion-option value="usuario">Usuario</ion-option>
            <ion-option value="nombre">Nombre</ion-option>
            <ion-option value="apellido">Apellido</ion-option>
            <ion-option value="mail">Mail</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
    <div style="float: left; width: 40%;">
      <ion-searchbar placeholder="Busqueda por {{filtro}}" [(ngModel)]="searchTerm" (ionInput)="filtrarUsuarios()" (ionFocus)="controlVacio()"></ion-searchbar>
    </div>
  </div> 
  
    <ion-grid>
      <ion-row>
          <ion-col><strong>Usuario</strong></ion-col>
          <ion-col><strong>Nombre</strong></ion-col>
          <ion-col><strong>Apellido</strong></ion-col>
          <ion-col><strong>Mail</strong></ion-col>
          <!--<ion-col><strong>Residencia</strong></ion-col>
          <ion-col><strong>Institucion</strong></ion-col>
          <ion-col><strong>Grado</strong></ion-col>-->
          <ion-col><strong>Cantidad de registros</strong></ion-col>
          <ion-col><strong>Accion</strong></ion-col>
        </ion-row>
        <ion-row *ngFor="let u of usuarios">
          <ion-col><strong>{{u.usuario}}</strong></ion-col>
          <ion-col><strong>{{u.nombre}}</strong></ion-col>
          <ion-col><strong>{{u.apellido}}</strong></ion-col>
          <ion-col><strong>{{u.mail}}</strong></ion-col>
          <!--<ion-col *ngIf="u.residencia != 'undefined'"><strong>{{u.residencia}}</strong></ion-col>
          <ion-col *ngIf="u.residencia == 'undefined'"><strong><ion-icon name="remove"></ion-icon></strong></ion-col>
          <ion-col><strong>{{u.institucion}}</strong></ion-col>
          <ion-col *ngIf="u.grado != 'undefined'"><strong>{{u.grado}}</strong></ion-col>
          <ion-col *ngIf="u.grado == 'undefined'"><strong><ion-icon name="remove"></ion-icon></strong></ion-col>-->
          <ion-col><strong>{{u.registros}}</strong></ion-col>
          <ion-col><button ion-button color="red" (click)="editar(u.idUsuario)">Ver/Editar</button></ion-col>
        </ion-row >
    </ion-grid>  


</ion-content>