<ion-header no-border>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Usuario
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col col-12 col-md-6>
        <ion-row>
          <ion-col col-12 class="profile">
            <ion-row class="contenedorImagen">
              <div>
                <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" />
                <h2>{{usuario?.usuario}}</h2>
              </div>
            </ion-row>
            <ion-row class="contenidoProfile">
              <div class="tabla">
                <table>
                  <thead>
                    <tr>
                      <th scope="col">C. Registros</th>
                      <th scope="col">Fecha Activo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td data-label="">4</td>
                      <td data-label="">20/12/1989</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ion-row>
            <ion-row>
              <ion-col>
                  <button ion-button color="danger" round><ion-icon name="close"></ion-icon>Baja</button>
                  <button ion-button color="verde" round><ion-icon ios="ios-create" md="md-create"></ion-icon>Editar</button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col col-12 col-md-6>
        <div padding>
          <ion-segment [(ngModel)]="pet">
            <ion-segment-button value="kittens">
              Kittens
            </ion-segment-button>
            <ion-segment-button value="puppies">
              Puppies
            </ion-segment-button>
          </ion-segment>
        </div>

        <div [ngSwitch]="pet">
          <ion-list *ngSwitchCase="'puppies'">
            <ion-item>
              <ion-thumbnail item-start>
                <img src="img/thumbnail-puppy-1.jpg">
              </ion-thumbnail>
              <h2>Ruby</h2>
            </ion-item>
            ...
          </ion-list>

          <ion-list *ngSwitchCase="'kittens'">
            <ion-item>
              <ion-thumbnail item-start>
                <img src="img/thumbnail-kitten-1.jpg">
              </ion-thumbnail>
              <h2>Luna</h2>
            </ion-item>
            ...
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div *ngIf="usuario" style="background-color: #d14836; margin-top: -1px;" class="col-md-12 col-lg-12" align="center">
        <div class="outter">
            <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="image-circle" />
        </div>
        <h1 *ngIf="!editar">{{usuario.nombre}} {{usuario.apellido}}</h1>
        <ion-input class="inputHeader" [(ngModel)]="usuario.nombre" *ngIf="editar" type="text" value="{{usuario.nombre}}"></ion-input>
        <ion-input class="inputHeader" [(ngModel)]="usuario.apellido" *ngIf="editar" type="text" value="{{usuario.apellido}}"></ion-input>
        <h2>Usted tiene {{usuario.registros}} registros</h2>
    </div>

    <div class="contenedor">
        <div class="contenedorTabla" *ngIf="usuario">
            <table>
                <tbody>
                    <tr>
                        <td style="font-weight: bold;">Residencia</td>
                        <td *ngIf="!editar">{{usuario.residencia}}</td>
                        <ion-input class="inputBody" [(ngModel)]="usuario.residencia" *ngIf="editar" type="text" value="{{usuario.residencia}}"></ion-input>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Institucion</td>
                        <td *ngIf="!editar">{{usuario.institucion}}</td>
                        <ion-input class="inputBody" [(ngModel)]="usuario.institucion" *ngIf="editar" type="text" value="{{usuario.institucion}}"></ion-input>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Grado</td>
                        <td *ngIf="!editar">{{usuario.grado}}</td>
                        <ion-input class="inputBody" [(ngModel)]="usuario.grado" *ngIf="editar" type="text" value="{{usuario.grado}}"></ion-input>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Usuario</td>
                        <td>{{usuario.usuario}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Mail</td>
                        <td>{{usuario.mail}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="botones">
            <button ion-button color="secondary" *ngIf="!editar" (click)="botonEditar()">Editar</button>
            <button ion-button color="red" *ngIf="!editar" (click)="confirmarEliminar()">Eliminar</button>
            <button ion-button color="favorite" *ngIf="editar" (click)="botonAceptar()">Aceptar</button>
            <button ion-button *ngIf="editar" (click)="botonCancelar()">Cancelar</button>
        </div>
    </div> -->


</ion-content>