<ion-header>
  <ion-navbar color="white">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" mode="side" position="end">
      <div class="contendorSidebar">
        <button mat-icon-button (click)="sidenav.toggle()" id="closeButton">
          <mat-icon matSuffix>close</mat-icon>
        </button>
        <page-registro [idRegistro]="idRegistro"></page-registro>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-tab-group>
        <mat-tab label="Buscada Basica">
          <div class="barraDeBusqueda">
            <ion-grid class="contenedorCentrado">
              <ion-row>
                <ion-col>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email">
                    <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <span>Mostrar Actividad</span>
                  <button ion-button round outline>Primary Round</button>
                  <button ion-button round outline>
                    <mat-form-field class="campoFiltro">
                      <input matInput [matDatepicker]="picke" placeholder="Choose a date">
                      <mat-datepicker-toggle matSuffix [for]="picke"></mat-datepicker-toggle>
                      <mat-datepicker #picke></mat-datepicker>
                    </mat-form-field>
                  </button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <span>Mostrar Actividad</span>
                  <button ion-button round outline>Primary Round</button>
                  <button ion-button round outline>
                    <mat-form-field class="campoFiltro">
                      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <div class="conteinerTable contenedorCentrado">
            <div class="mat-elevation-z4">
              <div class="titleTable">
                <ion-grid>
                  <ion-row>
                    <ion-col col-9>
                      <span>Registros</span>
                      <span>de los ulitmos 7 dias (Mar 15,2018 - Mar 22, 2018)</span>
                    </ion-col>
                    <ion-col col-3>
                      <span>25 Registros</span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <mat-table #table [dataSource]="dataSource" matSort>
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>

                <!-- Other Column -->
                <ng-container matColumnDef="fecha">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{element.fecha | date:'dd/MM/yy'}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="alumno">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Alumno </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <strong>{{element.apellido}},</strong>
                    <br> {{element.nombre}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ubicacion">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Ubicacion </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <strong>{{element.ciudad}},</strong>
                    <br> {{element.provincia}}, {{element.pais}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="estado">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <mat-chip-list [ngSwitch]="element.estado">
                      <mat-chip selected="true" style="background-color: #139216;" *ngSwitchCase="'1'">Valido</mat-chip>
                      <mat-chip selected="true" color="accent" *ngSwitchCase="'0'">Pendiente</mat-chip>
                      <mat-chip selected="true" color="warn" *ngSwitchCase="'-1'">Invalido</mat-chip>
                    </mat-chip-list>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="indice">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Indice </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{element.indice}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="acciones">
                  <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <button style="color:#269ED9" mat-icon-button matTooltip="Ver" [matTooltipPosition]="'above'">
                      <mat-icon (click)="verRegistro(element.idRegistro)">visibility</mat-icon>
                    </button>
                    <button *ngIf="element.estado == 0" style="color:#139216" mat-icon-button matTooltip="Validar" [matTooltipPosition]="'above'">
                      <mat-icon (click)="verRegistro(element.idRegistro)">check_circle</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator #paginator [pageSize]="3" [pageSizeOptions]="[1, 2, 3]" [showFirstLastButtons]="true"></mat-paginator>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Exportar">
          <h1>Exportar a Excel</h1>
        </mat-tab>
      </mat-tab-group>
      <div *ngIf="!mostrarTarjetas">
        <h3> No se encontraron Operaciones</h3>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ion-content>