lista-registros {
  .scroll-content {
    background: #F1F1F1 !important;
  }
  .contenedorCentrado, .mat-tab-labels{
    max-width: 1200px;
    padding: 0px 40px;
    margin: 0 auto;
  }
  .col ion-icon {
    margin-right: 8px;
  }
  p {
    margin-left: 8px;
    word-break: break-word;
    white-space: normal;
  }
  td {
    word-break: break-all;
    white-space: normal;
  }
  .conteinerTable {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
  }
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  .cdk-column-idRegistro {
    flex: 0 0 5%;
  }
  .cdk-column-fecha {
    flex: 0 0 9%;
  }
  .cdk-column-indice {
    flex: 0 0 8%;
  }
  .cdk-column-acciones {
    flex: 0 0 7%;
  }
  .cdk-column-select {
    flex: 0 0 4%;
  }
  .mat-column-select {
    overflow: initial;
  }
  .barraDeBusqueda {
    background: white;
  }
  .titleTable {
    background: #708292;
  }
  .titleTable .grid .row .col:nth-child(2){
    background: #657482;
    text-align: center;
    color: #C9D2DC;
  }
  .titleTable .grid .row .col{
    padding: 25px 0px;
    line-height: 14px;
  }
  .titleTable .grid {
    padding: 0px !important;
  }
  .titleTable .grid .row .col:nth-child(1) span:nth-child(2){
    color: #C9D2DC;
    margin-left: 14px;
  }
  .titleTable .grid .row .col:nth-child(1) span:nth-child(1){
    margin-left: 24px;
    font-size: 20px;
    color: white;
  }
  .mat-table .mat-row:nth-child(2n){
    background: #F3F5F7;
  }
  .mat-drawer-container {
    background-color: transparent;
    height: 100%;
  }
  mat-sidenav {
    width: 600px;
  }
}